@font-face {
    font-family: "Playfair_Display";
    src: url("./fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
    font-family: "Mochiy_Pop_P_One";
    src: url("./fonts/Mochiy_Pop_P_One/MochiyPopPOne-Regular.ttf");
    font-family: "Kanit-ExtraBold";
    src: url("./fonts/Kanit/Kanit-ExtraBold.ttf");
}